<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://wx1.sinaimg.cn/thumb150/0066HdMvgy1fcxdfmkaf8j30r812tqak.jpg</string>
	<string>http://wx3.sinaimg.cn/thumb150/0066HdMvgy1fcxdfmwmd3j30r80jxwlv.jpg</string>
	<string>http://wx1.sinaimg.cn/thumb150/0066HdMvgy1fcxdfnw0xbj30l00xkaha.jpg</string>
	<string>http://wx2.sinaimg.cn/thumb150/0066HdMvgy1fcxdfmqhm5j30fl0p0wks.jpg</string>
	<string>http://wx4.sinaimg.cn/thumb150/0066HdMvgy1fcxdfo1tdsj30r80yjdmz.jpg</string>
	<string>http://wx2.sinaimg.cn/thumb150/0066HdMvgy1fcxdfold5zj30n00sgdsw.jpg</string>
	<string>http://wx2.sinaimg.cn/thumb150/0066HdMvgy1fcxdfq3afsj30r814118h.jpg</string>
	<string>http://wx2.sinaimg.cn/thumb150/0066HdMvgy1fcxdfpu1faj30r811iapq.jpg</string>
	<string>http://wx1.sinaimg.cn/thumb150/0066HdMvgy1fcxdfqbzqjj30r815qduf.jpg</string>
</array>
</plist>
